:root {
    --blue: #7b8488;
    --peach: #f8d4b3;
    --orange: #b17032;
    --white: white;
    --dark-grey: #373737;
    --serif: 'Space Mono';
    --mono: 'Space Mono';
    --sans-serif: 'Space Mono';
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
section {
    flex: 1;
    flex-basis: 120vh;
    padding: 0 80px;
}
h1 {
    font-family: var(--serif);
    font-size: 84px;
    font-weight: normal;
    color: black;
    font-style: italic;
    letter-spacing: 20px;
    margin: 0px;
    padding: 10px;
    mix-blend-mode: overlay; 
    text-transform: uppercase;
    background-image: linear-gradient(to right, white 10%, transparent);
}
h2 {
    mix-blend-mode: overlay; 
    font-family: var(--mono);
    font-size: 24px;
    color: white;
}
h2.greeting {
    margin-top: 10%;
    text-align: left;
    padding-left: 20px;
}
h2.tagline {
    text-align: right;
    padding-right: 20px;
}
h3 {
    font-family: var(--serif);
    color: black;
    font-size: 48px;
    margin: 0px;
    padding: 60px 60px 20px 60px;
    text-align: center;
}
h4 {
    font-size: 24px;
    font-family: var(--sans-serif);
    margin: 0px 10px 0px 10px;
    color: white;
    position: fixed;
}
h5 {
    font-size: 24px;
    font-family: var(--sans-serif);
    color: var(--dark-grey);
    margin: 0px;
}
h6 {
    font-size: 20px;
    font-family: var(--sans-serif);
    font-weight: bold;
    color: var(--dark-grey);
    margin: 5px 0px 15px 0px;
}
a {
    color: black;
    text-decoration: none;
}

p {
    font-family: var(--sans-serif);
    font-size: 20px;
}
p > a {
    position: relative;
    font-family: var(--sans-serif);
    font-size: 20px;
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}
p > a:hover {
    background-image: linear-gradient(to left, var(--orange), var(--peach), var(--blue))
}
.container {
    display: flex;
    flex-direction: column;
}
nav {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
.nav-item {
    display: block;
    min-width: 120px;
    color: grey;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
}
.nav-item:hover{
    color: white;
    border-bottom: 2px solid white;
    background-image: radial-gradient(50% 50% at bottom, #FFFFFF88 1%, transparent);
    cursor: pointer;
}
section#landing {
    height: 100vh;
    background-image: url(../img/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
}
.landing-content {
    transform: translateY(-50%)
}
.icons-group {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.featured-icon {
    display: inline;
    padding: 15px;
    margin: 5px;
    border-radius: 7px;
    background-color:rgba(255,255,255,0.8);
    color: black;
    letter-spacing: 2px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.featured-icon:hover {
    background-color: white;
}
a.btn {
    text-decoration: none;
}
#about {
    box-shadow: 0px -20px 25px -16px #333333;
}
.portfolio-group {
    display: block;
    margin: 0 auto;
}
.portfolio-group + .portfolio-group {
    margin-top: 50px;
}
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-portrait {
    flex: 3;
    padding: 30px;
    vertical-align: top;
}
.portrait {
    width: 125px;
}

.about-text {
    flex: 7;
    padding: 30px;
    line-height: 30px;
    text-align: justify;
    border-left: 1px solid var(--dark-grey);
}
.about-text-header {
    padding: 0.5rem;
    font-size: 16px;
    font-family: var(--sans-serif);
    font-weight: bold;
    color: var(--dark-grey);
    vertical-align: top;
}
.about-text-body {
    padding: 0.5rem;
    font-family: var(--mono);
    font-size: 16px;
    vertical-align: top;
}
.about-text-body a {
    position: relative;
    font-family: var(--sans-serif);
    font-size: 16px;
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}
.about-text-body > a:hover {
    background-image: linear-gradient(to left, var(--orange), var(--peach), var(--blue))
}
.badge {
    text-align: left;
    line-height: 14px;
    display: inline-block;
    font-family: var(--mono);
    font-size: 14px;
    padding: 5px 10px;
    color: var(--dark-grey);
    border: 1px solid var(--blue);
    border-radius: 50px;
    background-color: var(--peach);
}

.about-timeline {
    padding-top: 20px;
}
.timeline {
    border: none;
    width: 100%;
    margin: 20px auto;
}

.timeline-header {
    padding: 1.5rem;
    font-size: 20px;
    font-family: var(--sans-serif);
    font-weight: bold;
    color: var(--dark-grey);
    border-bottom: 3px solid var(--dark-grey);
}

.timeline-item {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
}

.timeline-item-data {
    font-family: var(--mono);
    text-align: center;
    flex: 2;
}
.timeline-item-description::before {
    --dot-radius: 15px;
    content: " ";
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    line-height: calc(2*var(--dot-radius));
    position: absolute;
    top: calc(50% - var(--dot-radius) - 2px);
    left: calc(-1*var(--dot-radius) - 3px);
    width: calc(2*var(--dot-radius));
    height: calc(2*var(--dot-radius));
    border: 2px solid var(--dark-grey);
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, var(--orange), var(--peach), var(--blue));
}
.timeline-item-description {
    position: relative;
    border-left: 2px dashed var(--dark-grey);
    text-align: left;
    font-family: var(--mono);
    flex: 8;
    min-height: 80px;
    padding-left: 25px;
}
.timeline-item-description p {
    text-align: left;
    font-family: var(--mono);
}
.code-group{
    margin: 50px 0px 50px 0px;
}
.code-group-header {
    padding: 1.5rem;
    font-size: 20px;
    font-family: var(--sans-serif);
    font-weight: bold;
    color: var(--dark-grey);
    border-bottom: 3px solid var(--dark-grey);
}
.code-group-body li {
    padding: 0.5rem;
    text-align: left;
    font-family: var(--mono);
    font-size: 16px;
}
.code-group-body li > a {
    font-weight: bold;
    border-bottom: 2px solid black;
}
.code-group-body li > a:hover {
    background-image: linear-gradient(to left, var(--orange), var(--peach), var(--blue));
    border-radius: 5px;
}
footer {
    font-size: 12px;
    background-color: var(--dark-grey);
    color: var(--blue);
    padding: 20px;
    font-family: sans-serif;
}

@media only screen and (max-device-width: 400px) {
    nav {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    nav a {
        display: block;
        text-decoration: none;
        flex: 1;
    }
    .nav-item {
        line-height: 100px;
        font-size: 48px;
    }
    h2.greeting, h2.tagline {
        font-size: 48px;
    }
    section {
        flex-basis: 100vh;
        padding: 0 80px;
    }
    p {
        font-size: 28px;
    }
    .about-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .about-portrait, .about-text {
        flex: 1;
    }
    .about-text { 
        border: none;
    }
    .about-text-header {
        font-size: 32px;
    }
    .about-text-body {
        font-size: 28px;
    }
    .about-text-body a {
        font-size: 32px;
    }
    .badge {
        font-size: 28px;
    }
    .code-group-header {
        font-size: 32px;
    }
    .code-group-body {
        font-size: 26px;
    }
}