<h2>
	About
</h2>
<center>
	<img src="poparttrentframecircle.svg" height="150px" width="150px" alt="A two-dimensional representation of a multi-dimensional me!"/>
	<p>Trent Fridey</p>
</center>
<p>
	I am a full stack web developer living in Plano, TX, a suburb of Dallas. I graduated from the University of Colorado with a BA in Physics, Magna Cum Laude, and a minor in Math, in 2014. After realizing that what us post-moderns consider computer science to be is actually our inheritance from the great mathematicians and physicists of the past, I decided to take up web development and data science. 
</p>
<h3>MEAN Stack</h3>
<p>
	My favorite stack right now is the MEAN Stack - <a href="http://mongoosejs.com/">Mongoose</a>, <a href="http://expressjs.com/">Expressjs</a>, <a href="https://angularjs.org/">AngularJS</a>, and <a href="https://nodejs.org/en/">Nodejs</a>. It's great for small- to medium-sized projects. <a href="#!/contact">Contact me</a> to find out more!
</p>

