<h2>
	Projects
</h2>

<h3>
	Front End Projects
</h3>
<ul>
	<li><a href="https://codepen.io/trentfridey/full/XRRZRp/">Simon Says</a></li>
	<li><a href="https://codepen.io/trentfridey/full/MpRjLZ/">JS Calculator</a></li>
	<li><a href="https://codepen.io/trentfridey/full/zZmRWJ/">Wikipedia Physics Finder</a></li>
	<li><a href="https://codepen.io/trentfridey/">...And More!</a>
</ul>


<h3>
	Back End Projects
</h3>
<ul>
	<li><a href="https://fancy-bison.glitch.me/">Timestamp Microservice</a></li>
	<li><a href="https://distinct-red.glitch.me/">Request Header Microservice</a></li>
</ul>

<h3>
	Full Stack Projects
</h3>
<ul>
	<li><a href="https://mgp.glitch.me/">Modular Growing Pixels</a></li>
</ul>

<h3>
Code
</h3>
<a href="https://codepen.io/trentfridey/">Codepen</a>
<a href="https://github.com/trentfridey">Github</a>
