<h2>Hire Me</h2>

<p> If you're interested in how I can help you with your front-end or full-stack
		project, send me a note. I try to respond to people within the week, so
		I will be in touch with you soon.

<!--
<form id="hireform" action="https://formspree.io/trent.fridey@colorado.edu" method="POST" onsubmit="return(validate())">
	<label>Name</label>
	<input type="text" placeholder="Name" name="name"></input><br>
	<label>Email</label>
	<input type="text" placeholder="Email" name="email"></input><br>
	<label>Subject</label>
	<input type="text" placeholder="Subject" name="subject"></input><br><br>
	<label>Message</label><br>
	<textarea name="message" rows="10" cols="40"></textarea><br>
	<button type="submit">Submit</button>
</form>
--->
