body {
  padding-top:50px;
  background-color:#339f77;
}
.container h2{
  color:#339f77;
}
.nav.navbar-nav.navbar-right li a{
  color: #339F77;
}
.nav.navbar-nav.navbar-right li a:hover{
  background-color: #339F77;
  color:white;
}
#brand{
  color:#339F77;
  font-family:"Segoe UI Light" monospace;
}
#brand:hover{
  background-color:#339F77;
  color:white;
  font-family:"Segoe UI Light" monospace;
}
.jumbotron{
  background-color:#339f77;
  color:white;
}
#contact {
  background-color:#339f77;
  color:white;
}
#contact h2{
  background-color:#339f77;
  color:white;
}
