body {
	margin: 40px 40px 0px 40px;
}

h1 {
	font-size:72px;
	font-family:'Abril Fatface', cursive;
	font-weight: normal;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h3 {
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

hr {
	padding: 0px;
	border-top: medium double #333;
	width:100%;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

a {
		text-decoration: none;
}

p a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
}

p a:hover{
	background-color: lightcoral;
}

li {
	line-height: 1.5;
	font-size: 18px;
}

li a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid black;
}

li a:hover {
	background-color: lightcoral;
}

label {
	font-size: 18px;
	font-family: Roboto, sans-serif;
}

input[type='text'] {
	margin: 10px;
	padding: 5px;
	border-bottom: 1px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
}

input[type='text']:focus {
	border: 1px solid black;
}

button[type='submit']{
	margin: 10px;
	background-color: white;
	padding: 10px;
	border: 2px solid black;
	border-radius: 3px;
	font-family: Roboto, sans-serif;
	font-size: 22px;
}

button[type='submit']:hover{
	color: lightcoral;
	border-color: lightcoral;
}

button[type='submit']:active{
	color: white;
	background-color: lightcoral;
	border: 2px solid lightcoral;
}

textarea {
	padding: 5px;
	margin: 10px;
	font-family: Roboto, sans-serif;
}

.container {
  margin: 0px 60px -50px 60px;
  min-height:100%;
}

.page {
	display: flex;
	flex-direction: row;
}

.content {
	flex: 4;
	margin: 0px 0px 0px 20px;
	height: 60vh;
}

.view {
	height: 60vh;
	padding: 0px 50px 0px 50px;
	overflow-y: scroll;
}

.mnavbar {
	display: none;
	font-family: Roboto, sans-serif;
}

.mnav {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.mnav a {
	color: black;
	font-size: 48px;
	text-decoration: none;
}

.navbar {
	flex: 1;
	border-right: 1px solid grey;
	min-width:180px;
	max-width:200px;
}

.nav {
	height: 60vh;
	flex-direction: column;
}

.nav li {
	list-style: square inside none;
	font-size: 18px;
	font-family:'Roboto', sans-serif;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	transition:0.5s;
	line-height: 1;
}


.nav li:hover{
	color: lightcoral;
	font-weight: bold;	
	border-right: 1px dashed black;
	box-shadow: -6px 0px 8px -1px rgba(0,0,0,0.2);
	cursor: pointer;
}
 /* for experimental fancy one-corner shadow effect
.nav li:before{
	z-index: -1;
	position: absolute;
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	background: rgba(0,0,0,0.2);
	box-shadow: -8px 2px 6px -6px rgba(0,0,0,0.2);
	transform: rotate(-3deg);
}
*/
.push, .footer {
  height: 50px;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  color: #999;
}
