body {
  padding-top:50px;
}
p{
  width: 624px;
  text-align:left;
}
.container h2{
  color:#339f77;
}
.container h3 {
  border-bottom: 2px solid #BBBBBB;
}
.nav.navbar-nav.navbar-right li a{
  color: #339F77;
}
.nav.navbar-nav.navbar-right li a:hover{
  background-color: #339F77;
  color:white;
}
#brand{
  color:#339F77;
  font-family:monospace;
}
#brand:hover{
  background-color:#339F77;
  color:white;
  font-family:monospace;
}
.jumbotron{
  height:500px;
  background-color:#339f77;
  color:white;
  box-shadow: inset 0px 0px 10px #222222;
}
.container h1{
  font-family:monospace;
}
.big-margin{
  margin-top:250px;
}
.shadow {
  text-shadow:2px 2px 1px #ccc;
}

#contact {
  background-color:#339f77;
  color:white;
}
#contact h2{
  background-color:#339f77;
  color:white;
}
#message {
  height:96px;
}
