body{
  margin:60px;
}

#nav{
  padding:30px;
  background-color: darkgrey;
  text-align: right;
}
#nav a {
  color: white;
  font-family:sans-serif;
  text-decoration: none;
  border-bottom: 2px dotted lightgrey;
}
#nav h1 {
  color:white;
  font-family: "Segoe UI Light" sans-serif;
  font-weight:normal;
  display:inline;
}
div{
  background-color:lightgrey;
  padding:20px;
}
h1{
  padding:10px;
  color:white;
  background-color:black;
  font-family:"Segoe UI Light" sans-serif;
  font-weight:normal;
}
td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
button {
  background-color: darkgrey;
  color:white;
  font-family: sans-serif;
  border-bottom: 2px solid #333333;
  border-radius: 3px;
}
