h1 {
	font-size:48px;
	font-family:'Abril Fatface', cursive;
	font-weight: normal;
}

h2 {
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

hr {
	padding: 0px;
	border-top: medium double #333;
	width:100%;
}

.container {
  margin: 0px 60px -50px 60px;
  min-height:100%;
}

.content {
	display: inline-block;
	width: 60%;
	margin: 40px;
	float: left;
}

.navbar {
	display: inline-block;
	width: 180px;
	float: right;
}

.nav li {
	list-style: decimal-leading-zero inside none;
	font-size: 14px;
	font-family:'Roboto', sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 12px;
	transition:0.5s;
}

.nav li:hover{
	font-weight: bold;	
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.2);
	cursor: pointer;
}

.push, .footer {
  height: 50px;
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  color: #999;
}
