.nav.navbar-nav.navbar-right li a{
  color: #339F77;
}
.nav.navbar-nav.navbar-right li a:hover{
  background-color: #339F77;
  color:white;
}
.navbar-header.navbar-brand a {
  color:#339F77;
  font-family:"Segoe UI Light" monospace;
}
