body{
  margin:60px;
}
div{
  background-color:lightgrey;
  width:575px;
  margin-top:0px;
}
h1{
  padding:10px;
  color:white;
  background-color:black;
  font-family:"Segoe UI Light" sans-serif;
  font-weight:normal;
}
table {
  margin:20px;
}
td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
p {
  padding: 20px;
}
button {
  background-color: darkgrey;
  color:white;
  font-family: sans-serif;
  font-size:16px;
  padding:20px;
  border:none;
  border-bottom: 2px solid #333333;
  border-radius: 3px;
}
.nav{
  color:white;
  background-color: black;
  width:555px;
  padding:10px;
  margin:0px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}
#links {
  font-family:sans-serif;
  order:2;
  flex-grow:1;
  flex-basis:0;
  text-align:right;
  padding:0px;
  margin:0px;
}
#links a {
  color:white;
  text-decoration: none;
  border-bottom: 2px dotted white;
}
#links a:hover {
  text-decoration: none;
  border-bottom: 2px solid white;
}
#links a:visited {
  color:white;
  text-decoration: none;
  border-bottom: 2px dotted white;
}
#title {
  font-family: "Segoe UI Light" sans-serif;
  font-size: 36px;
  order:1;
  flex-grow:2;
  flex-basis:0;
  text-align: left;
  padding:0px;
  margin:0px;
}
#Message {
  display:block;
  height:250px;
}
