$primary: #64c6ff;
$grey: #1f1f1f;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

#landing {
  height: 100vh;
  display: flex;
  main {
    display: block;
    margin: auto;
    #block {
      display: inline-block;
      vertical-align: baseline;
      margin: 0 10px;
      width: 75px;
      height: 135px;
      border: 2px solid $primary;
      padding: 20px 40px;
      background-image: repeating-linear-gradient(-45deg, black, black 20px, $grey 20px, $grey 40px);
      box-shadow: -5px 5px 0px 2px black,
                  -10px 10px 0px 2px $primary,
                  -15px 15px 0px 2px black,

    }
    #landing-links {
      display: block;
      color: white;
      & a {
        font-family: monospace;
        font-size: 14px;
        background-color: $primary;
        padding: 5px;
        color: black;
        text-decoration: none;
        &:hover {
          background-color: white;
        }
      }
    }
  }
  p {
    display: inline-block;
    color: $primary;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    line-height: 48px;
    #greeting {
      color: white;
      border-bottom: 3px solid $primary;
      text-transform: uppercase;
      font-family: monospace;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      top: -60px;
      left: 0;
    }
  }
}

section {
  min-height: 100vh;
  & + section {
    margin-top: 120px;
  }
  &.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#subjects h1 {
  display: block;
  margin: 0 0 25px 0;
  border-bottom: 7px solid $primary;
  font-weight: normal;
  font-size: 32px;
  font-family: monospace;
  background-color: black;
  padding: 10px 15px;
  text-align: center;
}

#subjects h2 {
  margin: 16px 0;
  font-weight: normal;
  font-size: 28px;
  font-family: sans-serif;
  color: $primary;
}

.subject-card {
  color: white;
  background-image: repeating-linear-gradient(-45deg, black, black 20px, $grey 20px, $grey 40px);
  border: 1px solid $primary;
  padding: 50px 25px;
  margin: 50px 20px;
  flex: 1 1 320px;
  min-width: 320px;
  max-width: 480px;
  min-height: 600px;
  max-height: calc(100vh - 100px);
  font-family: sans-serif;
  &-icon {
    $diameter: 120px ;
    text-align: center;
    font-size: 52px;
    margin: 0 auto 20px auto;
    background-color: black;
    border: 2px solid $primary;
    height: $diameter;
    width: $diameter;
    border-radius: 150px;
    line-height: $diameter;
  }
  &-summary {
    margin: 10px 0;
    font-style: italic;
    font-family: serif;
    padding: 10px;
    background-color: #ffffff33;
  }
  &-tools {
    & ul {
      padding-left: 0px;
      color: black;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    & ul li {
      flex: 0 0 auto;
      font-family: monospace;
      font-size: 14px;
      border-bottom: 5px solid $grey;
      background-color: $primary;
      padding: 5px 10px;
      margin: 2px 0;
    }
  }
}

@keyframes shine {
  from {
    background-position: -50% 0;
  }
  to {
    background-position: 350% 0;
  }
}

#contact {
  background-color: $grey;
  font-family: sans-serif;
  color: white;
  & hr {
    height: 20px;
    border: none;
    background-image: repeating-linear-gradient(-45deg, $grey, $grey 20px, $primary 20px, $primary 40px);
  }
  & fieldset {
    margin-top: 70px;
    border: none;
    font-size: 36px;
  }
  & label {
    display: inline-block;
    font-size: 22px;
    font-family: monospace;
    text-shadow: -2px 2px 0px black;
  }
  & input {
    background-color: black;
    border: 1px solid $primary;
    padding: 10px 20px;
    margin: 20px;
    color: $primary;
    font-family: monospace;
    &:focus {
      box-shadow: -5px 5px 0px 2px black, -10px 10px 0px 2px $primary;
    }
  }
  & textarea {
    background-color: black;
    border: 1px solid $primary;
    padding: 10px 20px;
    color: white;
    font-family: monospace;
    font-size: 24px;
    margin: 40px 0;
    width: 100%;
    &:focus {
      box-shadow: -5px 5px 0px 2px black, -10px 10px 0px 2px $primary;
    }
  }
  & button {
    background-color: $primary;
    border: none;
    color: black;
    font-size: 22px;
    cursor: pointer;
    padding: 20px 30px;
    &:hover {
      background-size: 60px 100%;
      background-image: linear-gradient(90deg, transparent, transparent 20px, white 20px, white 40px, transparent 40px, transparent 60px);
      background-repeat: no-repeat;
      animation: shine 0.75s linear forwards;
    }
    &:active {
      background-color: white;
      box-shadow: none;
    }
  }
}
